.slider-width
{
    width: 900px;
}

#header
{
    text-align:center;
    font-size:24px
}

#rulesheader
{
    text-align:center;
    font-size:24px
}

#main
{
    width: 1000px;
    background-color: #EEEEEE;
    float: left;
}

#rules
{
    float: left;
    width: 250px;
    background-color: #E8F9FF;
}

#rules-scroller
{
    overflow: auto;
    height: 1100px;
    width: 90%;
    background-color: #E8FFF9;
    margin: 0 auto;
}

#apply-rule-changes
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rules-error
{
    color: red;
}

.rule-square
{
    position: relative;
    text-align: center;
    border-radius: 10px;
    background-color: #D0EDE0;
    padding: 10px;
    margin: 10px;
    height: 350px;

}

.rule-name
{
    font-size: 16px;
    width: 90%;
}

.rule-textarea
{
    font-size: 24px;
    resize: none;
    overflow:hidden;
}

.rule-type-label
{
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.rule-delete
{
    position: absolute;
    top: 40px;
    right: 15px;
}